:root {
    --bg-col: hsl(0, 77%, 55%);
    --head-col: hsl(0.19,23%,11%);
}

html {
  font-family: "Emilys Candy","Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    width: 100%;
    height: 10vh;
    background-color: var(--head-col);
    top: 0px;
    left: 0px;
    display: flex;
    position: absolute;
    z-index: 100;
    align-items: center;
    justify-content: center;
    min-height: 75px;
}

h1 {
    font-weight: 300;
    color: #fff;
}

body {
    background-color: var(--bg-col);
    overflow: hidden;
}

#playspace {
    width: 450px;
    height: 450px;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -225px;
    border: 1px solid #000;
    border-radius: 100%;
    background-color: var(--head-col);
    z-index: 5;
}

.quarter {
    width: 45%;
    height: 45%;
    position: absolute;
    cursor: pointer;
    border: none;
}

/* Quarter circles: */
.q1 {
    background-color: hsl(94, 75%, 60%); /* Green */
    border-radius: 100% 0 0 0;
    top: 0; margin-top: 4%;
    left: 0; margin-left: 4%;
} 
.q1:hover { background-color: hsl(94, 100%, 60%);}
.q1:active {
    transform: translateY(1%) translateX(1%);
    background-color: hsl(94, 100%, 40%);
}

.q2 {
    background-color: hsl(0, 75%, 60%); /* Red */
    border-radius: 0 100% 0 0;
    top: 0; margin-top: 4%;
    right: 0; margin-right: 4%;
} 
.q2:hover { background-color: hsl(0, 100%, 60%);}
.q2:active {
    transform: translateY(1%) translateX(1%);
    background-color: hsl(0, 100%, 40%);
}

.q3 {
    background-color: hsl(53, 75%, 50%); /* Green */
    border-radius: 0 0 0 100%;
    bottom: 0; margin-bottom: 4%;
    left: 0; margin-left: 4%;
} 
.q3:hover { background-color: hsl(53, 100%, 50%);}
.q3:active {
    transform: translateY(1%) translateX(1%);
    background-color: hsl(53, 100%, 40%);
}

.q4 {
    background-color: hsl(214, 75%, 40%);  /* Blue */
    border-radius: 0 0 100% 0;
    bottom: 0; margin-bottom: 4%;
    right: 0; margin-right: 4%;
} 
.q4:hover { background-color: hsl(214, 100%, 55%);}
.q4:active {
    transform: translateY(1%) translateX(1%);
    background-color: hsl(214, 100%, 35%);
}


/* Circle centre: */
.overlay {
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    top: 30%;
    left: 30%;
    background-color: var(--head-col);
    z-index: 10;
    /* border: 1px solid black; */
}

h2 {
    text-align: center;
    position: relative;
    /* border: 1px solid black; */
    margin-top: 40%;
    font-family: "Orbitron", sans-serif;
    color: #fff;
}

/* Scores: */
#infobox {
    border: 1px solid black;
    width: 400px;
    height: auto;
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: 250px;
}
#infobox p {
    font-size: large;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
}

/* Damien pic: */
#damien {
    position: absolute;
    display: block;
    right: -15%;
    bottom: -10%;
    height: auto;
    width: 40%;
    z-index: 1;
    transform: rotate(-15deg);
    transition: transform 0.5s ease-out;
}

#damien:hover {
    transform: rotate(-25deg) scale(1.3);
    transition: transform 0.4s ease-in;
}